<h3>About Me</h3>
<p>I have been working as a software developer for over {{numberOfYearsExperience}} years. During that time I have been
  responsible for a number of different projects. I can break these down into two categories, Automated Software Testing
  and Software Development</p>
<div class="row">
  <div class="one-half column card">
    <h5>Automated Software Testing</h5>
    <p>
      My first professional gig in software development was in the field of Automated testing for client's web
      applications.
    </p>
    <p>Tech. used:</p>
    <ul>
      <li>Java</li>
      <li>Selenium</li>
      <li>Relational Databases (MySQL + Postgres)</li>
      <li>Relational Databases (MySQL + Postgres)</li>
    </ul>
  </div>
  <div class="one-half column card">
    <h5>Software Development</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias assumenda autem commodi consequuntur cum
      dicta dolore doloremque dolorum error et ipsam nam qui quibusdam, repudiandae, tempore tenetur ullam voluptas?
    </p>
    <p>Tech. used:</p>
    <ul>
      <li>Java</li>
      <li>Spring Boot (Java web framework) and the Netflix stack</li>
      <li>Relational Databases (MySQL + Postgres)</li>
      <li>NoSQL Databases (MongoDB, DynamoDB)</li>
      <li>Monitoring tools (Grafana, Prometheus, InfluxDB)</li>
      <li>Docker (Swarm mode)</li>
    </ul>
  </div>
</div>
