<div class="container">
  <br>
  <div class="row">
    <div class="column">
      <h1>David Scully online portfolio.</h1>
      <a class="button external-sites" href="https://github.com/daithiscully"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
      <a class="button external-sites" href="https://gitlab.com/daithiscully"><i class="fa fa-gitlab" aria-hidden="true"></i> Gitlab</a>
      <a class="button external-sites" href="https://soundcloud.com/davidscully-1"><i class="fa fa-soundcloud" aria-hidden="true"></i> Soundcloud</a>
      <a class="button external-sites" href="https://www.linkedin.com/in/davidscully1/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="column">
      <app-about-me></app-about-me>
    </div>
  </div>
</div>
